/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

/* Override default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #87ceeb;
    font-family: 'Changa One', sans-serif;
}

body h3 {
    margin-bottom: 10px;
}

/* Header styles */
header {
    text-align: center;
    padding: 20px;
    background-color: #FFFF00;
}

/* Game title and logo  */
h1 {
    font-size: 2rem;
}

.logo {
    width: 120px;
    height: 120px;
}

/* Main game area  */
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* Game-controls area */
.game-area {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
}

.game-area h3 {
    margin-left: 80px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #87ceeb;
    color: #333;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 80px;
    font-family: 'Changa One', sans-serif;
}

/* Rules area styling */
.rules-area {
    background-color: #faf3e0;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

ol {
    padding-left: 20px;
}

ol li {
    margin-bottom: 10px;
}

/* Footer styling */
footer {
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    background-color: #FFFF00;
    position: absolute;
    bottom: 0;
    width: 100%;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 1024px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .game-area,
    .game-image,
    .score-area,
    .rules-area {
        margin: 10px;
        padding: 10px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }


    .game-area {
        order: 1;
    }

    .game-image {
        order: 2;
    }

    .score-area {
        order: 3;
    }

    .rules-area {
        order: 4;
    }

    .controls-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .controls-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .controls-area button {
        width: 120px;
    }

    button {
        margin-left: 0;
    }

    .game-area h3 {
        margin-left: 0;
    }
}